/* html, body {
  box-sizing: border-box;
} */

#mainPage {
  background-image: url("../bg.jpg");
  top: 0;
  margin: 0;
  padding: 0;
}

#mainForm {
  display: flex;
  flex-direction: column;
  width: 73.44vw;
  margin: auto;
  background-color: white;
}

.judul {
  text-align: center;
  left: 411.5px;
  padding-top: 65px;
  margin: 0;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 100% */
  color: #6A0070;
}

#formContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 50vw;
  margin: auto;
}

#firstSubformContainer {
  display: flex;
  flex-direction: column;
  margin-top: 80.85vh;
}

.subformTitle {
  font-size: 15px;
  font-family:Open Sans;
  font-weight: 600;
  color: #542D86;
}

#phoneTitleContainer {
  margin-bottom: 13px;
}

#formButton {
  display: flex;
  flex-direction: row;
  align-items: center !important;
  justify-content: center;

  position: static;
  width: 73.44vw;
  height: 14.89vw;
  margin-top: 30px;

  background: #FFFFFF;
  box-shadow: 0px -9px 14px rgba(0, 0, 0, 0.1);
}

#bckBtn {
  width: 180px;
  height: 36px;
  border-radius: 7px;
  padding: 4px, 40px, 4px, 40px;
  background-color: #fff !important;
  color: #542D86 !important;
  border: 1px solid #542D86;
  margin-right: 30px;
}

#nxtBtn {
  width: 180px;
  height: 36px;
  border-radius: 7px;
  padding: 4px, 40px, 4px, 40px;
  color: #fff !important;
  background-color: #542D86 !important;
  border: 1px solid #542D86;
}

#currencyContainer {
  display: flex;
  margin-top: 6px;
  padding:6px 0 6px;
}

.text {
  width: 1000px;
}